* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
.container{
    position: relative;
}
body {
    background-image: url("/img/background-img-dark.png");
    background-size: 100% 240px;
    background-repeat: no-repeat;
    background-color: #181824;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100%;
}
.image{
    padding: 50px;
    display: flex;
    gap:240px;
    align-items: flex-start;
    margin: auto;
    width: 30%;
}
.filter{/* put border and background color to box founction*/
    display:inline-flex;
    border:1px solid #25273c;
    background-color: #25273c;
    font-size: 80%;
    width: 100%; 
}
.three_function{/* put spaces between the founctions name*/
    margin-left: 44px;
    margin-right: 50px;  
    background-color: #25273c;
    display: flex;
    border-radius: 4%;
    width: 35%;
    
}
input{
    background-color: #25273c;
    color: whitesmoke;
    width: 285px;
    padding: 5px;
}
#btn{
    padding: 3px;
    background-color: #25273c;
    color: white;
   
    
}
.light_mode{
    background-image: url("/img/background-img-light.png");
    background-color:white;
}
/* Humam */
.tasksContainer {
border-radius: 3%;
width:340px ;
margin: auto;
overflow: hidden;
margin-top: 8px;
}
#tasks-list {
    border:1px solid #25273c;
    background-color: #25273c;
    font-size: 90%;
    width: 100%;
    margin: auto;
    padding: 10px;
}
/* Humam */
.task {
   border-bottom:2px solid rgb(66, 65, 65) ;
   display: flex;
   padding: 10px;
}
.checkBox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid grey;
   margin-right: 15px;
}
footer{
    margin: 8px;
    color: gray;
}
.create{
    border: 6px #25273c;
    background-color: #25273c;
    width: 340px;
    margin: auto;
    height: 38px;
}