* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.container >img {
    width: 100%;
}
body {
    background-color: #181824;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;  
}
.image{
    margin-top: 20px;
    position:absolute;
    top: 50%;
    right: 50%;
}
.filter{/* put border and background color to box founction*/
    display:inline-flex;
    border:2px solid #25273c;
    background-color: #25273c;
    font-size: 80%;
    width: 100%;
   

}
.three_function{/* put spaces between the founctions name*/
    margin-left: 40px;
    margin-right: 35px;  
    background-color: #25273c;
    display: flex;
}
input{
    background-color: #25273c;
}
.sun{
    margin: -1px;
    padding: 20px;
    margin-left: 219px;
    color: white;
}
.light_mode{
    background-color:white;
    color:black;
}
.tasksContainer {
border-radius: 3%;
width:312px ;
margin: auto;
 overflow: hidden;

}
#tasks-list {
   
    border:2px solid #25273c;
    background-color: #25273c;
    font-size: 90%;
    width: 100%;
    margin: auto;
    
}

.task {
   border-bottom:1px solid white ;
   display: flex;
   padding: 10px;
}
.checkBox{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:1px solid grey;
   margin-right: 15px;

}
.checked{
    background-image: url("img/icon-moon.svg");
}
